// shows basic stats about the app

extends layout

block content
	div.container
		h1 Admin Panel
	
		h2 Users

		h3 Signups
		table.table.table-striped
			thead
				tr
					th 24 hour
					th 7 days
					th 30 days
					th All time
			tbody
				tr
					td= yesterday
					td= week
					td= month
					td= total_users
		h3 Strategy
		table.table.table-striped
			thead
				tr
					th Local
					th Google
					th Facebook
					th Twitter
			tbody
				tr
					td= local
					td= google
					td= facebook
					td= twitter

		h2 Recommendations
		table.table.table-striped
			thead
				tr
					th 24 hour
					th 7 days
					th 30 days
					th All time
			tbody
				tr
					td= yesterday
					td= week
					td= month
					td= total_users